<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timetable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pet_cm03"
        android:label="HAPE"
        android:roundIcon="@mipmap/pet_cm03"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Choose_pet" />
        <activity android:name=".Activity_Dialog"></activity>
        <activity android:name=".MainView" />
        <activity
            android:name=".Start"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>